#cloud-config
hostname: k8s-node-${node}-vpn
fqdn: node${node}.k8s.yggdrasil
ansible:
  package_name: ansible-core
  install_method: distro
  run_user: ${run_user}
  pull:
    url: ${ ansible_repo }
    playbook_name: k8s_nodes_vpn.yml
